distributed_software_development/Project_1a/WindowsSOAPClient/Connected Services/ServiceReference2/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vowels">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strng" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vowelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vowelsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uppercase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strng" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uppercaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="uppercaseResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reverse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strng" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reverseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reverseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vowelsSoapIn">
    <wsdl:part name="parameters" element="tns:vowels" />
  </wsdl:message>
  <wsdl:message name="vowelsSoapOut">
    <wsdl:part name="parameters" element="tns:vowelsResponse" />
  </wsdl:message>
  <wsdl:message name="uppercaseSoapIn">
    <wsdl:part name="parameters" element="tns:uppercase" />
  </wsdl:message>
  <wsdl:message name="uppercaseSoapOut">
    <wsdl:part name="parameters" element="tns:uppercaseResponse" />
  </wsdl:message>
  <wsdl:message name="reverseSoapIn">
    <wsdl:part name="parameters" element="tns:reverse" />
  </wsdl:message>
  <wsdl:message name="reverseSoapOut">
    <wsdl:part name="parameters" element="tns:reverseResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="vowels">
      <wsdl:input message="tns:vowelsSoapIn" />
      <wsdl:output message="tns:vowelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="uppercase">
      <wsdl:input message="tns:uppercaseSoapIn" />
      <wsdl:output message="tns:uppercaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reverse">
      <wsdl:input message="tns:reverseSoapIn" />
      <wsdl:output message="tns:reverseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vowels">
      <soap:operation soapAction="http://tempuri.org/vowels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uppercase">
      <soap:operation soapAction="http://tempuri.org/uppercase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverse">
      <soap:operation soapAction="http://tempuri.org/reverse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vowels">
      <soap12:operation soapAction="http://tempuri.org/vowels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uppercase">
      <soap12:operation soapAction="http://tempuri.org/uppercase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverse">
      <soap12:operation soapAction="http://tempuri.org/reverse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44376/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44376/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>